@CHARSET "UTF-8";

body{
	background: url("../images/background-index.png") #49718B repeat-x top;
	margin:0 auto; 
	padding:0;
	font-family: Helvetica,sans-serif;
	font-size: 0.7em;
}



span.nav-next, span.nav-back{
	display:block;
	width:40px;
	height:40px;
	text-indent:-99999px;
}

span.nav-next {
    background: url("../images/arrow-right.png") no-repeat scroll right center transparent;
    float: right;
    margin:-28px 0 0;
}

span.nav-back{
	background:url('../images/arrow-left.png') no-repeat center left;
	float:left;
}

ul.ball {
    margin:-10px auto;
    overflow: hidden;
    padding: 0;
    width:50px;
}

ul.ball li {
    background: url("../images/ball-disable.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 7px;
    margin: 0 3px 0 0;
    text-indent: -99999px;
    width: 7px;
}
ul.ball li.active{
	background:url('../images/ball-enable.png') no-repeat;
}


#inicial{
	width:290px;
	margin:0 auto;
	text-align:center;
	padding:80px 10px 100px 10px;
}

.logo{
	display:block;
	width:133px;
	height:134px;
	background:url('../images/logo-grex.png') no-repeat;
	text-indent:-9999px;
	margin:0 auto 10px;
}

.subtitle{
	margin:0 0 30px 0;
	color: #FFF;
}

#cracha {
	width: 310px;
	height: 400px;
	margin:0 auto;
	text-align:center;
	background: url("../images/grex-card.png");
}

#cracha a{
	display:block;
	width:200px;
	height:43px;
	line-height:43px;
	background:url('../images/btn-logar-small.png') no-repeat;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	font-size:18px;
	margin: 240px 55px 0;
	float: left;	
}

#cracha .notice {
	width: 200px;
	margin: 6px 55px;
	color: #BC8A2C;
	background: #FFFF99;
	float: left;
	padding: 6px 0;
	border: 1px solid #D8A035;
}

.header{
	background: #333 url('../images/bg-header.jpg');
	height:40px;
	padding:5px 10px;
	
}

.header h1{
	font-size:18px;
	margin:0;
	float:left;
	line-height:30px;
}

.header h1 a{
	text-decoration:none;
	color:#FFF;
}

.header a{
	display:block;
	text-decoration:none;
	text-align:center;
	margin:4px 0 0 0;
	outline: none;
}

.header a.twitter,
.header a.voltar{
	width:auto;
	height:30px;
	line-height:33px;	
	color:#FFF;
	float:left;
	margin-left:10px;
	font-size:1em;
	font-weight:bold;
}

.header a.twitter{
	background:url("../images/seta-lista-vou.png") no-repeat scroll 96% 63%;
	padding:0 16px 0 0;
}

.header a.twitter img{
	width:25px;
	height:25px;
	float:left;
	border:solid 2px #FFF;
	margin: 0 5px 0 0;
}

.header a.voltar{
	background:url('../images/seta-header-voltar.png') no-repeat 5% center;
	padding:0 10px 0 12px;
}


.header a.sair {
    color: #FFFFFF;
    display: block;
    float: right;
    height: 35px;
    line-height: 33px;
    text-decoration: underline;
}

.menu, .titulo, .titulo-lista, .titulo-principal{
	height:40px;
	line-height:40px;
	background-color:#FFF;
	font-size:1.5em;
	color:#000;
	clear:both;
	position: relative;
	border-bottom:solid 1px #CCC;	
	font-weight:bold;
}

.menu{
	border-bottom:0;
	font-size:1.5em;
}

.titulo, .titulo-principal{
	padding-left:10px;
}

.titulo-principal{
	color:#FFF;
	background-color:#AAA;
}

.titulo-lista{
	text-align:center;
	border-top:0;
}



.titulo.nav-engenharia{
	background: #FFF url('../images/navegacao-trilhas.gif') no-repeat 98% center;
}

.menu ul{
	padding:0;
	margin:0;
}

.menu li{
	list-style:none;
	line-height:40px;
	text-align:center;
	background: #000;
}

.menu li a{
	display:block;
	float:left;
	width:33.3%;
	height:40px;
	text-decoration:none;
	color:#000;
	font-size:1em;
	font-weight:bold; 
	
	background-color:#CCC;
	box-shadow:inset 0 0 3px #666;
	-moz-box-shadow:inset 0 0 3px #666;
	-webkit-box-shadow:inset 0 0 3px #666;
}

.menu li a.active {
	background-color:#FFF;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	
}

.linha .twitter {
	border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #000000 inset;
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    margin-left: 10px;
    padding: 10px 5px 0;
	padding-top:10px;
    width: auto;
    
}

.linha.now {
	background-color:#edf
}

.linha p.tipo{
	font-size:.8em;
}

.from-user .linha .descricao{
	float: left;
	margin-left:10px;
}


div.horario {
	float: left;
    margin: 0 6px;
    width:32px;
}

div.horario{
	font-weight:bold;
}

div.horario div.inicio {
	border-bottom: 1px solid #bbb;
}

.linha{
	border-top:solid 1px #FFF;
	border-bottom:solid 1px #CCC;
	background-color:#EEE;
	padding: 6px 0;
	overflow: hidden;
}

.linha p{
	margin:0 0 5px 0;
	color:#333;
}

.linha p.palestrante{
	font-weight:bold;
	font-size:.9em;
}

.escolha{
	float:left;
	weight:32px;
	margin:0 5px;
	height:63px;
}

.detail-talk .descricao{
	float:none;
	width:auto;
}

div.descricao{
	float:left;
	width:70%;
}

.ver-detalhes a{
	display:block;
	font-size:1.1em;
}

a.btn-vo{
	display:block;
	height:33px;
	width:32px;
	text-indent:-9999px;
	background:url("../images/checked.png") no-repeat right;
	outline:0;
}

.active a.btn-vo{
	background-position:left;
}

span.quantidade{
	padding:0 0 0 10px;
	background:url("../images/icon-participantes.png") no-repeat left;
	display:block;
	margin:5px 0 0 0;
}

.descricao p a{
	color:#333;
	text-decoration:none;
}

.descricao p span{
	padding:1px 2px;
	margin: 0 4px 0 0;
}

.descricao p span.todos{
	background-color:#CCC;
}

.descricao p span.iniciante{
	background-color: yellow;
}

.descricao p span.intermediario{
	background-color:#0099CC;
	color:#FFF;
}

.descricao p span.avancado{
	background-color:#009900;
	color:#FFF;
}
.descricao p span.track {
	border:1px solid #ccc;
	background-color:#444;
	color:#dedede;
}
.detail-talk .speakers{
	font-weight: bold;	
	border-top:solid 1px #CCC;
	clear:both;
}

.detail-talk div {
    background-color:#FFF;
	padding:5px 10px;
}

.detail-talk div div {
	padding:0;
}

.detail-talk .top {
    height: 30px;
    line-height: 30px;
}

.detail-talk .escolha {
	height:auto;
	margin:0 8px 0 0;
}

.detail-talk .date {
	float: left;
	font-size: 1.5em;
	font-weight: bold;
}

.detail-talk .quantidade {
    float:right;
}

.detail-talk .escolha,
.detail-talk .title p {
	float:left;
}

.detail-talk .escolha{
	width:32px;
}

.detail-talk .title {
    height:40px;
	font-size: 1.5em;
}

.detail-talk .title p {
	margin:0;
	width:80%;
	padding:0 0 5px 0;
}

.detail-talk .descricao p {
	margin:0;
	padding:10px 0;
	font-size:1.2em;
}


.detail-talk .type, .detail-talk .speakers, .detail-talk .room, .detail-talk .quemvai p {
    border-bottom:1px solid #ccc;
}

.detail-talk .quemvai {
	overflow:auto;
}

.detail-talk .quemvai p{
	margin:0;
	font-weight:bold;
	font-size:1.2em;
}

.detail-talk .quemvai ul {
	margin:0;
	padding:0;
}

.detail-talk .quemvai li {
	list-style:none;
	margin:0 0 10px 0;
}

.detail-talk .quemvai li a {
	float:left;
	border: solid 2px #EEE;
	margin-right:5px;
	height:auto;
}

.notice {
	padding: 30px 0;
	font-size: 1.1em;
	color: #FCDCDC;
	font-weight: bold;
}

div.trilha.engenharia,
div.trilha.gestao,
div.trilha.relatos,
div.trilha.auditorio { display: none; }


div.load{ background-image:url(../images/loading.gif);background-repeat: no-repeat;background-position: 100% 0 ; }

div.webgoal {
    background-color: #598BAB;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 26px;
    text-align: right;
    vertical-align: middle;
}

.rounded {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}