/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body { font-family:ClanWeb-Book, sans-serif; font:16px/1.231 sans-serif; *font-size:small; }

/*Fonts para o IE */
@font-face {
	font-family: ClanWeb-Medium;
	src: url("/stylesheets/fonts/ClanWeb-Medium.eot");
}

@font-face {
	font-family: ClanWeb-Book;
	src: url("/stylesheets/fonts/ClanWeb-Book.eot");
}

@font-face {
	font-family: ClanWeb-Thin;
	src: url("/stylesheets/fonts/ClanWeb-Thin.eot");
}

/* then for WOFF-capable browsers */
@font-face {
	font-family: ClanWeb-Medium;
	src: url("/stylesheets/fonts/ClanWeb-Medium.woff") format("woff");
}

@font-face {
	font-family: ClanWeb-Book;
	src: url("/stylesheets/fonts/ClanWeb-Book.woff") format("woff");
}

@font-face {
	font-family: ClanWeb-Thin;
	src: url("/stylesheets/fonts/ClanWeb-Thin.woff") format("woff");
}





/* --------------------------------------------
  Mobile
-------------------------------------------- */

@media (max-width: 2048px) {

	#container {
		width: inherit;
	}
	
	#container.busca {
		background-color: #797A7A;
		overflow: auto
	}

	#content , #content.busca {
		margin-top:110px;
	}
	
	#content.detalhes, #content.palestrante {
		margin-top:50px;
	}
	
	.header {
		background:#f0f0f1;
		height:50px;
		position:fixed;
		top:0;
		width: 100%;
		overflow: auto;
	}
	
	.header a {
		display: block;
		width:50px;
		height:50px;
		float:left;
		text-indent: -90000px
	}
	
	.header a.voltar {
		width:50px;
		height:50px;
		background: url('/images/btn-voltar.png') no-repeat 50% 50%;
		float: left;
	}
	
	.header a.programacao {
		width:50px;
		height:50px;
		background: url('/images/btn-programacao.png') no-repeat 50% 50%;
		float: right;
	}
	
	.header a.busca {
		width:50px;
		height:50px;
		background: url('/images/btn-busca.png') no-repeat 50% 50% ;
		float: right;
	}
	
	.header h2 {
		font-size: 28px;
		line-height: 50px;
		margin-left: 10px;
		color: #444;
		font-weight: bold;
		float: left;
	}

	nav {
		position:fixed;
		height:60px;
		background-color: #a6a8ab;
		display: block;
		float: left;
		width: 100%;
		top:50px;
		overflow: auto;
	}
	
	nav h2 {
		float: left;
		font-size: 22px;
		line-height: 45px;
		color: #EEE;
		margin-top: 10px;
		margin-left: 10px;
	}
			
	nav span.dia {
		font-size:12px;
		color: #666;
		font-weight: bold;
	}
	
	nav .numero {
		color: #EEE;
		font-size: 26px;
	}
	
	nav .botoes {
		float:right;
		width: 100px;
	}
	
	nav a {
		margin-top:5px;
		width:50px;
		height:50px;
		display: block;
		float: left;
		text-indent: -9999px;
	}
	
	nav a.anterior {
		background:url('/images/btn-anterior.png') no-repeat;
	}
	nav a.proximo {
		background:url('/images/btn-proximo.png') no-repeat;
	}
	
	.itens-lista {
		float: left;
		width: 100%;		
	}
	
	.itens-lista ul {
		
		margin:0;
	}
	
	.itens-lista li {
		float: left;
		width: 100%;
		list-style: none;
	}
	
	.itens-lista h2.titulo {
		height:40px;
		line-height:40px;
		font-size:22px;
		padding: 15px 0 15px 10px;
		border-bottom: solid 1px #000;
		clear: both;
	}
	
	.itens-lista h2.horario {
		height:40px;
		line-height:40px;
		font-size:22px;
		background:url('/images/icon-relogio.png') no-repeat 0% 40%;
		padding: 15px 0 15px 50px;
		border-bottom: solid 1px #000;
		clear: both;
	}
	
	.itens-lista .sala {
		float: left;
		width: 100px;
		font-size: 10px;
		margin-left: 10px;
	}
	
	.itens-lista .sala h3 {
		text-transform: uppercase;
		color:#929497;
	}	
	
	.itens-lista .sala p {
		background:url('/images/icon-vou.png') no-repeat;
		padding-left: 20px;
		margin-top: 5px;
		padding-top: 3px;
	}
		
	.itens-lista .info {
		float: left;
	}
	
	.itens-lista .detalhe {
		
		float: right;
	}
	
	.itens-lista .detalhe a {
		display: block;
		width: 50px;
		height:50px;
		background:url('/images/btn-detalhe.png') no-repeat;
		text-indent: -90000px
	}
		
	.itens-lista .tipo p {
		font-size:9px;
	}

	.detalhes .tipo {
		padding:5px;
		margin:10px 0 5px 7px;
	}

	.tipo {
		overflow: auto;
	}
		
	.tipo p {
		float:left;
		font-size:12px;
		margin-right: 4px;
		padding: 2px;
	}
		
	.tipo p.trilha, .itens-lista .tipo p.nivel {
		color:#FFF;
	}
	
	.tipo p.trilha {
		background-color:#57585b;
	}
	
	.tipo p.nivel {
		background-color:#8ac53e;
	}
		
	.itens-lista li {
		border-bottom: solid 1px #BFBFBF;
		padding: 20px 0;
	}
	
	.itens-lista li h2 {
		margin-bottom: 10px;
		font-size:14px;
		line-height:14px;
		font-family: 'ClanWeb-Thin', sans-serif;
	}
	
	.itens-lista li p.palestrante {
		margin-bottom: 10px;
		color: #929497;
		font-size:11px;
	}

	.detalhes h2 {
		font-size: 24px; padding:10px;
	}
	
	.detalhes .data-horario {
		display: block
	}	
	
	.detalhes .data-horario h3 {
		float:left;
	}
	
	.detalhes .data-horario .data {
		background:url('/images/icon-agenda.png') no-repeat 0% 50%;
		height:50px;
		line-height:50px;
		padding-left: 40px;
		width: 50px;
	}
	
	.detalhes .data-horario .horario {
		background:url('/images/icon-relogio.png') no-repeat;
		height:50px;
		line-height:50px;
		padding-left: 40px;
		width: 120px;
	}
	
	.detalhes .info-palestrante { 
		clear: both; 
		border-top:solid 1px #BFBFBF; 
		border-bottom:solid 1px #BFBFBF; 
		padding: 10px 0;
		font-size:12px; 
		overflow: auto; 
		margin:0 12px;
	}
	
	.detalhes .info-palestrante ul {
	  list-style:none;
  }
	
	.detalhes .info-palestrante li {
	  display:block;
	  height:50px;
	}
	
	.detalhes .info-palestrante li + li {
	  padding-top:7px;
	}
	
	.detalhes .info-palestrante p {
		color:#929497; 
		font-size:11px;
		width:80%;
	}
	
	.detalhes div.descricao {
		margin-bottom: 80px;
	}
	
	.detalhes div.descricao p {
		margin-bottom: 10px; 
		text-align:justify;
		font-size:14px;
		line-height:1.4;
		padding:0 10px;
	}
	
	.detalhes .info-palestrante img {
		float:left; 
		width:50px; height:50px;
		margin:0 10px 0 0;
	}
	
	.detalhes .info-palestrante h3 {
		font-weight:bold;
	}
	
	.detalhes .info-palestrante a {
		display: block; 
		width: 50px; 
		height:50px; 
		background:url('/images/btn-detalhe.png') no-repeat; 
		text-indent: -90000px;
		float:right; 
		margin-top: -40px;
	}

	
	.detalhes .vou {
		height:68px;
		position: fixed; 
		bottom:0; 
		background-color: #404041; 
		width:100%;
	}

	.detalhes .vou.aberto {
		height:68px;
		position: relative;
		/*top:210px; */
		background-color: #404041;
		margin-top:50px;
	}

	.detalhes .lista-avatar {
		display:none;
	}

	.detalhes .vou.aberto + .lista-avatar {
	  min-height:280px;
	  background-color:#58595B;
	  display:block;
  }

	.detalhes .lista-avatar img {
		float: left; 
		margin:10px;
	}
	
	.envia-feedback {
		background: #404041;
		padding: 10px;
		height: 220px;
	}
	
	.envia-feedback .label {
		display: block;
		color: #EEE;
	}
	
	.envia-feedback textarea {
		width: 100%;
		height: 100px;
	}
	
	.envia-feedback .opcoes {
		height: 50px;
	}
	
	.envia-feedback .opcao{
		float: left;
		width: 30px;
		color: #EEE;
		text-align: center;
	}
	
	.envia-feedback .btns {
		float: right;
	}
	
	.envia-feedback .btns input {
		background: #AAA;
		color: #EEE;
		border: 0;
		width: 100px;
		margin-top: 5px;
		padding: 5px;
		font-size: 16px;
	}

	.detalhes .vou a.vao {
		background:url('/images/icon-seta-vao.png') no-repeat 0 50%;
		padding-left: 30px; 
		display: block;
		position: relative;
		bottom: 0; 
		height:68px;
		z-index:1000;
		font-size:60px;
		color:#FFF;
		letter-spacing: -3px;
		text-decoration: none;
		margin:0 12px;
	}

	.detalhes .vou.aberto a.vao {
		background-image:url('/images/icon-seta-vao-aberto.png');
	}
	
	.detalhes .vou a.btn-vou {
		display:block;
		width: 64px;
		height:58px;
		color:#FFF;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 58px;
		padding-left: 35px;
		position: absolute;
		right:5px;
		top:6px;
		z-index:9000;
	}
	
	.detalhes .vou.active a.btn-vou {
	  background:url('/images/btn-vou.png') no-repeat;
	}
	
	.palestrante .info-palestrante {
		position:relative;
		clear: both;
		padding: 10px 0;
		font-size:26px;
		overflow: auto;
		margin:0 12px;
	}
	
	.palestrante .info-palestrante img {
		float:left;
		margin:0 10px 10px 0;
	}
	
	.palestrante .info-palestrante p {
		font-size:14px;
		color:#929497;
	}
	
	.palestrante .info-palestrante p.twitter a {
		font-size:12px;
		color:#929497;
		color:#0684d4;
		margin-top:5px;
		text-decoration: none;
		display: block;
	}
	
	.palestrante p.descricao {
		margin:0 12px;
		font-size:14px;
	}

	.form-busca {
		position:fixed;
		background-color: #A6A8AB;
		height:40px;
		top: 50px;
		width: 100%;
		padding:10px 0;
	}
	
	.form-busca input {
		border:none;
		width: 92%;
		height: 36px;
		border:solid 1px #E6E7E8;
		font-size: 14px;
		text-transform: uppercase;
		margin: 0 12px;
	}
	
	.form-busca h1 {
		font-size:22px;
		line-height: 22px;
		font-weight:bold;
		margin:10px 0 10px 12px;
	}
	
	.busca {
		padding:0 7px;
	}
	
	.busca h1 {
		font-size:22px;
		border-bottom: solid 1px #000;
		margin: 10px 0 10px 0;
		padding-bottom: 10px;
		font-weight: bold;
		float: left;
		width: 100%;
	}
	
	.busca ul {
		list-style: none;
		clear:both;
		margin-bottom: 10px;
	}
	
	.busca ul li {
		border-bottom: solid 1px #A6A8AB;
		padding:20px 0;
		font-size:18px;
	}
	
	.busca li a {
		color: #FFF;
		text-decoration: none;
		width: 100%;
		display: block;
	}

	
}


