@CHARSET "UTF-8";

body{
	background: url("../images/background-index.png") #eee repeat-x top;
	margin:0 auto; 
	padding:0;
	font-family: Helvetica,sans-serif;
	font-size: 0.7em;
}

#login {
	margin-top: 35px;
}

#login .logo {
	display: block;
	width: 164px;
	height: 81px;
	margin: 0 auto;
	background: url("../images/grex-logo.gif");
	text-indent: -9999px;
}

#login .btns {
	display: block;
	width: 170px;
	height: 80px;
	margin: 20px auto;
}

#login .btns .facebook {
	display: block;
	float: right;
	width: 80px;
	height: 80px;
	background: url("../images/btn-facebook.gif");
	text-indent: -9999px;
}

#login .btns .twitter {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	background: url("../images/btn-twitter.gif");
	text-indent: -9999px;
}

#login .sobre {
	width: 80%;
	text-align: center;
	font-size: 14px;
	padding: 1%;
	margin: 0 auto;
	color: #888;
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
}

#login .sobre a {
	text-decoration: none;
	color: #8AC53E;
}

#login .notice {
	margin-top: 5px;
	color: #BC8A2C;
	background: #FFFF99;
	border: 1px solid #D8A035;
}

#login .flag a{
	display: block;
	float: right;
	padding: 10px 20px;
	margin: 25px 0 25px 0;
	background: #F5F5F5;
	border: 1px solid #DDD;
	font-size: 14px;
	font-weight: bold;
	color: #57585B;
	font-family:ClanWeb-Book, sans-serif;
	
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	text-decoration: none;
}

#login .flag a .webgoal {
	color: #8AC53E;
}

.rounded {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}