<div class="header">
  <h1>grex</h1>
  <%= link_to "@"+current_user.twitter, "/users/list", { :class=>'twitter', :title => "@"+current_user.twitter } if signed_in? %>
  <%= link_to "Log out", "/sessions/logout", { :class=>'sair', :title => 'Sair' } if signed_in? %></a>
</div>

<%= render :partial => "talk_list", :locals => {:talks => @talks}%>