<div class="content">
  <div class="header">
    <h1>Even.to</h1>
  </div>
  <div class="menu">
    <ul>
    	<li><a href="#" title="" class="active">29/06</a></li>
    	<li><a href="#" title="">30/06</a></li>
    	<li><a href="#" title="">01/07</a></li>
    </ul>
  </div>
  <table> 
	<tr class="time"> 
    	<th class="trilha"></th> 
    	<th class="horario">08:00</th> 
    	<th class="horario">08:30</th> 
    	<th class="horario">09:00</th> 
    	<th class="horario">09:30</th> 
    	<th class="horario">10:00</th> 
    	<th class="horario">10:30</th> 
    	<th class="horario">11:00</th> 
    	<th class="horario">11:30</th> 
    	<th class="horario">12:00</th> 
    	<th class="horario">12:30</th> 
    	<th class="horario">13:00</th> 
    	<th class="horario">13:30</th>  
    	<th class="horario">14:00</th> 
    	<th class="horario">14:30</th>  
    	<th class="horario">15:00</th> 
    	<th class="horario">15:30</th>  
    	<th class="horario">16:00</th> 
    	<th class="horario">16:30</th>  
    	<th class="horario">17:00</th> 
    	<th class="horario">17:30</th>   
    	<th class="horario">18:00</th> 
    	<th class="horario">18:30</th> 
    </tr> 
    <tr class="trilha1"> 
    	<th class="trilha"><span class="vertical">Geral</span></th> 
    	<td rowspan="5" class="pausa"><span class="vertical">Credenciamento</span></td> 
    	<td rowspan="5" class="pausa"><span class="vertical">Abertura</span></td> 
    	<td rowspan="5" colspan="3" class="pausa">Liderança adaptável: acelerando a agilidade organizacional</td> 
    	<td rowspan="5" class="pausa"><span class="vertical">Coffee</span></td> 
    	<td colspan="4" class="pausa">Da visão a produção - Criando produtos e lançando ao mercado</td> 
    	<td rowspan="5" colspan="3" class="pausa"><span class="vertical">Almoço</span></td> 
    	<td colspan="2" class="pausa">CLIGHTNING TALKS 1</td> 
    	<td colspan="2" class="pausa">Exploring User Wish through Mindmapping</td> 
    	<td rowspan="5" class="pausa"><span class="vertical">Coffee</span></td> 
    	<td colspan="2" class="pausa">A sociedade do Dojo e os grupos de Capoeira</td> 
    	<td colspan="2" class="pausa">Da Essência à Necessidade - Os Mitos do Mundo Ágil!</td> 
    </tr> 
  
	<tr class="trilha2"> 
    	<th class="trilha"><span class="vertical">Engenharia<span></th> 
    	<td colspan="2" class="pausa">A importância dos testes de regressão</td> 
    	<td colspan="2" class="pausa">Continuous Inspection - Uma abordagem efetiva para melhoria contínua da qualidade de software</td> 
    	<td colspan="2" class="pausa">Quando o design apodrece, TDD é seu melhor amigo</td> 
    	<td colspan="2" class="pausa">Como formar um programador 10x</td> 
    	<td colspan="4" class="pausa">Tente Desenvolver Diferente com TDD</td> 
    </tr> 
    <tr class="trilha3"> 
    	<th class="trilha"><span class="vertical">Relatos<span></th> 
    	<td colspan="2" class="pausa">A escola do século XXI tem que ser ágil, lean e empreendedora. Ponto.</td> 
    	<td colspan="2" class="pausa">There and back again (Lá e de Volta Outra Vez)</td> 
    	<td colspan="2" class="pausa">"COWBLAM! nossa metodologia é a melhor!"</td> 
    	<td colspan="2" class="pausa">GreenBar - Inserindo cultura de testes automatizados na sua empresa</td> 
    	<td colspan="2" class="pausa">Scrum na Horta</td> 
    	<td colspan="2" class="pausa">Problemas e soluções no desenvolvimento remoto: duas empresas, um projeto</td> 
    </tr> 
    <tr class="trilha4"> 
    	<th class="trilha"><span class="vertical">Gestão<span></th> 
    	<td colspan="4" class="pausa">The Agile city-building game</td> 
    	<td colspan="4" class="pausa">Scrum com Equipes Distribuídas</td> 
    	<td colspan="4" class="pausa">Reservoir Dogs - a shot at agile portfolio management</td> 
    </tr> 
    <tr class="trilha4"> 
    	<th class="trilha"><span class="vertical">Principal<span></th> 
    	<td colspan="2" class="pausa">Agile Transitions - Culture of Change or Change of Culture?</td> 
    	<td colspan="2" class="pausa">Prepare a Sandwich like an Agile Business Analyst</td> 
    	<td colspan="2" class="pausa">Desenvolvendo outside in com BDD</td> 
    	<td colspan="2" class="pausa">Gerenciando sua dívida técnica</td> 
    	<td colspan="4" class="pausa">Manifesto for Meta-Agile - Coaching para Agilidade além da própria Agilidade</td> 
    </tr> 
  </table>
</div>
