<div id="container">
	<div class="header">
		<a class="voltar" href="">Voltar</a>
		<a class="busca" href="">Busca</a>
		<a class="programacao" href="#">Minha programação</a>
	</div>
	
	<nav>
		<h2>5/9 <span class="dia">Quarta-feira</span></h2>
		<div class="botoes">
			<a class="anterior" href="">Anterior</a>
			<a class="proximo" href="">Próximo</a>
	</nav>
	<div id="content">
		<div class="itens-lista">
			<h2 class="horario">11:00</h2>
			<ul>
				<li>
					<div class="sala">
						<h3>Auditório</h3>
						<p>76</p>
					</div>
					<div class="info">
						<h2>Integrando equipes ágeis: Um overview sobre os problemas em escalar agilidade</h2>
						<p class="palestrante">Reedy Feggins</p>
						<div class="tipo">
							<p class="trilha">Inovação e empreendedorismo</p>
							<p class="nivel">Experiente</p>
							<p>Mão-na-massa</p>
						</div>
					</div>
					<div class="detalhe">
						<a href="">Detalhe</a>
					</div>
				</li>

				<li>
					<div class="sala">
						<h3>Sala 1</h3>
						<p>76</p>
					</div>
					<div class="info">
						<h2>Integrando equipes ágeis: Um overview sobre os problemas em escalar agilidade</h2>
						<p class="palestrante">Reedy Feggins</p>
						<div class="tipo">
							<p class="trilha">Inovação e empreendedorismo</p>
							<p class="nivel">Experiente</p>
							<p>Mão-na-massa</p>
						</div>
					</div>
					<div class="detalhe">
						<a href="">Detalhe</a>
					</div>
				</li>

				<li>
					<div class="sala">
						<h3>Sala 1</h3>
						<p>76</p>
					</div>
					<div class="info">
						<h2>Integrando equipes ágeis: Um overview sobre os problemas em escalar agilidade</h2>
						<p class="palestrante">Reedy Feggins</p>
						<div class="tipo">
							<p class="trilha">Inovação e empreendedorismo</p>
							<p class="nivel">Experiente</p>
							<p>Mão-na-massa</p>
						</div>
					</div>
					<div class="detalhe">
						<a href="">Detalhe</a>
					</div>
				</li>

				<li>
					<div class="sala">
						<h3>Sala 1</h3>
						<p>76</p>
					</div>
					<div class="info">
						<h2>Integrando equipes ágeis: Um overview sobre os problemas em escalar agilidade</h2>
						<p class="palestrante">Reedy Feggins</p>
						<div class="tipo">
							<p class="trilha">Inovação e empreendedorismo</p>
							<p class="nivel">Experiente</p>
							<p>Mão-na-massa</p>
						</div>
					</div>
					<div class="detalhe">
						<a href="">Detalhe</a>
					</div>
				</li>
				
			</ul>

		</div>


	</div>

</div>