<div class="header">
  <h1>Even.to</h1>
</div>
<div class="menu">
  <ul>
	<li><a href="#" title="primeiro-dia" class="active" >29/06</a></li>
  	<li><a href="#" title="segundo-dia">30/06</a></li>
  	<li><a href="#" title="terceiro-dia">01/07</a></li>
  </ul>
</div>
<div class="content">
  <div class="tempo">
  	<div>08</div>
  	<div>09</div>
  	<div>10</div>
  	<div>11</div>
  	<div>12</div>
  	<div>13</div>
  	<div>14</div>
  	<div>15</div>
  	<div>16</div>
  	<div>17</div>
  	<div>18</div>
  </div>
  <div class="primeiro-dia dia">
    <div class="trilha geral">
        <div class="titulo">Geral<span class="arrow-right">&raquo;</span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Abertura</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">Liderança adaptável: acelerando a agilidade organizacional</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="204" ><div class="descricao">Da visão a produção - Criando produtos e lançando ao mercado</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">LIGHTNING TALKS 1</div></div>
    	<div class="linha tres-quarto"><input type="hidden" value="207" ><div class="descricao">Exploring User Wish through Mindmapping</div></div>
    	<div class="linha tres-quarto nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">A sociedade do Dojo e os grupos de Capoeira</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Da Essência à Necessidade - Os Mitos do Mundo Ágil!</div></div>
    </div>
    <div class="trilha engenharia" >
    	<div class="titulo"><span class="arrow-left"></span>Engenharia<span class="arrow-right"></span></div>
    	<div class="linha meia-hora"><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><div class="descricao">Abertura</div></div>
    	<div class="linha hora-meia"><div class="descricao">Liderança adaptável: acelerando a agilidade organizacional</div></div>
    	<div class="linha meia-hora"><div class="descricao refeicao">Coffee-break</div></div>
  	    <div class="linha hora-cheia"><div class="descricao">A importancia dos testes de regressao</div></div>
    	<div class="linha hora-cheia"><div class="descricao">Continuous Inspection - Uma abordagem efetiva para melhoria contínua da qualidade de software</div></div>
    	<div class="linha hora-meia"><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><div class="descricao">Quando o design apodrece, TDD &eacute; seu melhor amigo</div></div>
    	<div class="linha tres-quarto"><div class="descricao">Como formar um programador 10x</div></div>
  	    <div class="linha tres-quarto"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><div class="descricao">Tente Desenvolver Diferente com TDD</div></div>
    </div>
    <div class="trilha relatos" >
    	<div class="titulo"><span class="arrow-left"></span>Relatos<span class="arrow-right"></span></div>
    	<div class="linha meia-hora"><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><div class="descricao">Abertura</div></div>
  	    <div class="linha hora-meia"><div class="descricao">Lideran&ccedil;a adapt&aacute;vel: acelerando a agilidade organizacional</div></div>
    	<div class="linha meia-hora"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><div class="descricao">A escola do s&eacute;culo XXI tem que ser &aacute;gil, lean e empreendedora. Ponto.</div></div>
    	<div class="linha hora-cheia"><div class="descricao">There and back again (L&aacute; e de Volta Outra Vez)</div></div>
  	    <div class="linha hora-meia"><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><div class="descricao">"COWBLAM! nossa metodologia &eacute; a melhor!"</div></div>
    	<div class="linha tres-quarto"><div class="descricao">GreenBar - Inserindo cultura de testes automatizados na sua empresa</div></div>
    	<div class="linha tres-quarto"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><div class="descricao">Scrum na Horta</div></div>
  	<div class="linha hora-cheia"><div class="descricao">Problemas e solu&ccedil;&otilde;es no desenvolvimento remoto: duas empresas, um projeto</div></div>
    </div>
    <div class="trilha gestao" >
    	<div class="titulo"><span class="arrow-left"></span>Gest&atilde;o<span class="arrow-right"></span></div>
    	<div class="linha meia-hora"><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><div class="descricao">Abertura</div></div>
  	    <div class="linha hora-meia"><div class="descricao">Lideran&ccedil;a adapt&aacute;vel: acelerando a agilidade organizacional</div></div>
    	<div class="linha meia-hora"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><div class="descricao">The Agile city-building game</div></div>
    	<div class="linha hora-meia"><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha tres-quarto-hora"><div class="descricao">Scrum com Equipes Distribuídas</div></div>
  	    <div class="linha tres-quarto"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><div class="descricao">Reservoir Dogs - a shot at agile portfolio management</div></div>
    </div>
    <div class="trilha auditorio" >
    	<div class="titulo"><span class="arrow-left"></span>Audit&oacute;rio</div>
    	<div class="linha meia-hora"><div class="descricao">Credenciamento</div></div>
  	    <div class="linha meia-hora"><div class="descricao">Abertura</div></div>
    	<div class="linha hora-meia"><div class="descricao">Lideran&ccedil;a adapt&aacute;vel: acelerando a agilidade organizacional</div></div>
    	<div class="linha meia-hora"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><div class="descricao">Agile Transitions - Culture of Change or Change of Culture?</div></div>
    	<div class="linha hora-cheia"><div class="descricao">Prepare a Sandwich like an Agile Business Analyst</div></div>
  	    <div class="linha hora-meia"><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><div class="descricao">Desenvolvendo outside in com BDD</div></div>
    	<div class="linha tres-quarto"><div class="descricao">Gerenciando sua dívida técnica</div></div>
    	<div class="linha tres-quarto"><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><div class="descricao">Manifesto for Meta-Agile - Coaching para Agilidade além da própria Agilidade</div></div>
    </div>
  </div>

  <div class="segundo-dia dia">
    <div class="trilha geral">
        <div class="titulo">Geral<span class="arrow-right">&raquo;</span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">Priorizando a Felicidade</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="204" ><div class="descricao">Jogando com valores ágeis</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">Integrando equipes ágeis. Um overview sobre os problemas em escalar agilidade</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">Patrocinador</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Retrospectivas Ágeis</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Ágil como Bruce Lee</div></div>
    </div>
    <div class="trilha engenharia" >
    	<div class="titulo"><span class="arrow-left"></span>Engenharia<span class="arrow-right"></span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">Priorizando a Felicidade</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="202" ><div class="descricao">`Design Up Front` (na dose certa) pode fazer bem ao seu projeto!</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="202" ><div class="descricao">Desmistificando o Trunk Based Development</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">Testes unitários com C++</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">Patrocinador</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="209" ><div class="descricao">Coding Dojo: Formato Kake</div></div>
    </div>
    <div class="trilha relatos" >
    	<div class="titulo"><span class="arrow-left"></span>Relatos<span class="arrow-right"></span></div>
        <div class="titulo">Geral<span class="arrow-right">&raquo;</span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">Priorizando a Felicidade</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">Startup em uma grande empresa: a evolução de um processo</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">Como uma Empresa de Mecatrônica Aderiu a Taskboards e Kanbans na sua Gestão à Vista</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">StoryTouch: de protótipo a produto</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">Patrocinador</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Scrum e a Espiral Positiva</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Dar caos à ordem</div></div>
    </div>
    <div class="trilha gestao" >
    	<div class="titulo"><span class="arrow-left"></span>Gest&atilde;o<span class="arrow-right"></span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">Priorizando a Felicidade</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="204" ><div class="descricao">Usando indicadores para Auxiliar a Dar Mais Visibilidade e a Melhorar o Desempenho</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">Todo mundo nasce ágil</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">Patrocinador</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">LIGHTNING TALKS 3</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Otimizando a entrega de valor - Além de custo, prazo e escopo</div></div>
    </div>
    <div class="trilha auditorio" >
    	<div class="titulo"><span class="arrow-left"></span>Audit&oacute;rio</div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">Priorizando a Felicidade</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">Learning Kaizen from TOYOTA</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">O grandiosismo dos loucos</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">LIGHTNING TALKS 2</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">Patrocinador</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Agile Transitions - Culture of Change or Change of Culture?</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Prepare a Sandwich like an Agile Business Analyst</div></div>
    </div>
  </div>

  <div class="terceiro-dia dia">
    <div class="trilha geral">
        <div class="titulo">Geral<span class="arrow-right">&raquo;</span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">2012: o ano em que a Terra parou acabou, porque o software travou</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">Individuals and interactions over process and tools</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">Avançando nos Fundamentos do Lean Thinking</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="206" ><div class="descricao">Negociando limites</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="210" ><div class="descricao">Prepare a Sandwich like an Agile Business Analyst</div></div>
    </div>
    <div class="trilha engenharia" >
    	<div class="titulo"><span class="arrow-left"></span>Engenharia<span class="arrow-right"></span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">2012: o ano em que a Terra parou acabou, porque o software travou</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="204" ><div class="descricao">Mantendo a Qualidade dos Códigos de Teste</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">Scala ao Resgate: Testes de Software mais expressivos e com menos código na JVM</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">LIGHTNING TALKS 4</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Testes em ambientes Ágeis</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Otimização de execução de testes através de níveis</div></div>
    </div>
    <div class="trilha relatos" >
    	<div class="titulo"><span class="arrow-left"></span>Relatos<span class="arrow-right"></span></div>
    	<div class="titulo"><span class="arrow-left"></span>Engenharia<span class="arrow-right"></span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">2012: o ano em que a Terra parou acabou, porque o software travou</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">Como fazer com que seu futuro PO exerça o seu papel efetivamente</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="204" ><div class="descricao">O Raio-X de um projeto Ágil: erros e acertos no desenvolvimento de uma plataforma de serviços</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">Porque é difícil trabalhar com os valores ageis em projetos de escopo fechado</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">A universidade é o Dojo! Coding Dojo para o ensino de OO</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Escalando agile na GVT Telecom - um case real</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Nearshore Agile</div></div>
    </div>
    <div class="trilha gestao" >
    	<div class="titulo"><span class="arrow-left"></span>Gest&atilde;o<span class="arrow-right"></span></div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">2012: o ano em que a Terra parou acabou, porque o software travou</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="204" ><div class="descricao">The Agile city-building game</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="206" ><div class="descricao">Trabalhando de forma eficaz com mentalidade legada</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="207" ><div class="descricao">Visões de Mercado sobre Equipes de Trabalho Autogerenciadas</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Tudo o que você precisa saber sobre contratos ágeis de software</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Ciclos de Avaliação de Pressupostos: Entendendo Lean, Kanban e Agilidade sob uma nova perspectiva</div></div>
    </div>
    <div class="trilha auditorio" >
    	<div class="titulo"><span class="arrow-left"></span>Audit&oacute;rio</div>
  	    <div class="linha meia-hora"><input type="hidden" value="200" ><div class="descricao">Credenciamento</div></div>
    	<div class="linha meia-hora"><input type="hidden" value="201" ><div class="descricao">Avisos</div></div>
    	<div class="linha hora-meia"><input type="hidden" value="202" ><div class="descricao">2012: o ano em que a Terra parou acabou, porque o software travou</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="203" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="204" ><div class="descricao">Manifesto for Meta-Agile - Coaching para Agilidade além da própria Agilidade</div></div>
    	<div class="linha hora-meia nao-clicavel"><input type="hidden" value="205" ><div class="descricao refeicao">Almo&ccedil;o</div></div>
    	<div class="linha duas-horas"><input type="hidden" value="207" ><div class="descricao">Dez anos depois, você realmente sabe o que é um produto com valor agregado?</div></div>
    	<div class="linha meia-hora nao-clicavel"><input type="hidden" value="208" ><div class="descricao refeicao">Coffee-break</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="209" ><div class="descricao">Lean Startup</div></div>
    	<div class="linha hora-cheia"><input type="hidden" value="210" ><div class="descricao">Slicing and dicing your user stories</div></div>
    </div>
  </div>

</div>

